.table-section {
	
}

.table-one {
	color: white;
	font-family: "Oswald"
}

.table-header {

}

.table-header-part {
	text-align: center;
	background-color: #666;
	padding: 20px;
}
.table-header-part:first-child {
	border-radius: 10px 0 0;
}
.table-header-part:last-child {
	border-radius: 0 10px 0 0;
}

.table-cell-header {
	background-color: #999;
	color: white;
	text-align: center;
	padding: 20px;
}

.table-cell-title {
	font-size: 20px;
}
.table-cell-subtitle {
	font-size: 12px;
}


.table-cell-body {
	background-color: #eee;
	color: white;
	text-align: center;
	padding: 33px;
}

.table-cell-footer {
	background-color: #bbb;
	color: white;
	text-align: center;
	padding: 33px;
}

.table-cell {
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}

.table-cell:hover .table-cell-header, 
.table-cell:hover .table-cell-body, 
.table-cell:hover .table-cell-footer {
	opacity: 0.5;
	color: #333;
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}

.table-cell-header {
	background-color: #333;
}

.table-cell-header::after{
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e8e8e8;
    clear: both;
}

/*
.table-cell-grey .table-cell-footer {
	background-color: #ccc;
}
.table-cell-grey .table-cell-body {
	background-color: #999;
}

.table-cell-blue .table-cell-footer {
	background-color: #0f75bb;
}
.table-cell-blue .table-cell-body {
	background-color: #0f86cc;
}*/