.table-section {
	
}

.table-one {
	color: white;
	font-family: "Oswald";
	font-size: 20px;
}

.table-header-part {
	text-align: center;
	background-color: #0d548a;
	padding: 20px;
	border-bottom: 1px solid grey;
}
.table-header-part:first-child {
	border-radius: 10px 0 0;
}
.table-header-part:last-child {
	border-radius: 0 10px 0 0;
}

.table-cell-header {
	color: white;
	text-align: center;
	padding: 33px;
	border-bottom: 1px solid grey;
	background-color: #0d548a;
	z-index: 999;
}

.table-cell-header::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 1rem solid #0d548a;
    top: 35%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all .5s ease-in-out;
    left: 100%;
}

.table-cell-body {
	background-color: #79c5ff;
	color: #333;
	text-align: center;
	padding: 33px;
	font-size: 20px;
	border-bottom: 1px solid grey;
}

.table-cell-footer {
	background-color: #0e79d0;
	color: white;
	text-align: center;
	padding: 33px;
    border-bottom: 1px solid grey;
}

.table-cell {
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}

.table-cell:hover .table-cell-header {
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}
.table-cell:hover .table-cell-body {
	background-color: #fff;
	color: #333;
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}
.table-cell:hover .table-cell-footer {
	background-color: #fff;
	color: #333;
	transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -webkit-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
}


.table-footer-part {
    text-align: left;
    background-color: #0d548a;
    padding: 5px 15px;
    font-size: 12px;
}
.table-footer-part:first-child {
	border-radius: 0 0 0 10px;
}
.table-footer-part:last-child {
	border-radius: 0 0 10px 0;
}